@model Gerencial.Models.Chamados
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app-title">
    <div>
        <h1><i class="fa fa-th-list"></i>Verificar Chamado pelo Anexo</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Chamados</li>
        <li class="breadcrumb-item active"><a href="#">Verificar</a></li>
    </ul>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="tile">
            @using (Html.BeginForm("VerificarPlanilha", "Chamados", FormMethod.Post, new { @class = "form-valide", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="form-group">
                    @Html.LabelFor(model => model.Arquivo, "Anexar Planilha", new { htmlAttributes = new { @class = "control-label" } })
                    <input type="file" name="Arquivo" id="Arquivo" class="form-control">
                </div>

                <div class="tile-footer">
                    <button class="btn btn-primary" type="submit">Verificar</button>
                </div>
            }
        </div>
    </div>
</div>